## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [6]:
import os
import numpy as np
import pandas as pd
from pandas import DataFrame

In [7]:
# 設定 data_path
dir_data = './data/'

In [8]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [10]:
t = app_train.shape
t

(307511, 122)

#### 列出所有欄位

In [11]:
s = app_train.dtypes 
s

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

#### 截取部分資料

In [14]:
app_train.iloc[:, 1:3]

        TARGET NAME_CONTRACT_TYPE
0            1         Cash loans
1            0         Cash loans
2            0    Revolving loans
3            0         Cash loans
4            0         Cash loans
5            0         Cash loans
6            0         Cash loans
7            0         Cash loans
8            0         Cash loans
9            0    Revolving loans
10           0         Cash loans
11           0         Cash loans
12           0         Cash loans
13           0         Cash loans
14           0         Cash loans
15           0         Cash loans
16           0         Cash loans
17           0    Revolving loans
18           0    Revolving loans
19           0         Cash loans
20           0    Revolving loans
21           0         Cash loans
22           0         Cash loans
23           0         Cash loans
24           0         Cash loans
25           0         Cash loans
26           1         Cash loans
27           0         Cash loans
28           0         Cash loans
29           0    Revolving loans
...        ...                ...
307481       1         Cash loans
307482       0         Cash loans
307483       0         Cash loans
307484       0         Cash loans
307485       0    Revolving loans
307486       0         Cash loans
307487       0         Cash loans
307488       0         Cash loans
307489       1         Cash loans
307490       0         Cash loans
307491       0         Cash loans
307492       0         Cash loans
307493       0         Cash loans
307494       0         Cash loans
307495       0         Cash loans
307496       0    Revolving loans
307497       0         Cash loans
307498       0         Cash loans
307499       0         Cash loans
307500       0         Cash loans
307501       0         Cash loans
307502       0         Cash loans
307503       0         Cash loans
307504       0         Cash loans
307505       0         Cash loans
307506       0         Cash loans
307507       0         Cash loans
307508       0         Cash loans
307509       1         Cash loans
307510       0         Cash loans

[307511 rows x 2 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子